*{
	margin: 0;
	padding: 0;
}
header{
    background-color:  #06283D;
    height: 100px;
}
header div, header h5{
    color: white;
}
header h1{
    left: 15px;
    top: 30px;
    position: absolute;
    color: #47B5FF;
}
h5{
    color: black;
    padding-left: 50px;
    position: absolute;
    top: 60px;
}
.contact{
    position: absolute;
    right: 5px;
}
.mainDiv{
    margin: 25px;
    background-color: #cfd1d7;
    border-radius: 25px;
    border: 2px solid black;
}
h3{
    margin-left: 27px;
    color: #256D85;
    font-size: 150%;
}
.title{
    font-weight: bold;
    color: #06283D;
}
.spring{
    padding-left: 15px;
}
table{
  width: 100%;
}

th, td {
    text-align: left;

  }
  a{
    margin-top: 40px;
    margin-right: 10px;
  }
li{
    margin-left: 10px;
}
.small {
    display: none;
}
  @media only screen and (max-width: 600px) {
    .large {
      display: none;
    }
    .small{display: block;}
  }
  .content{
    margin-left: 10px;
  }
.smallTable{
    margin-left: 15px
}
.mediumTable{
    display: none;
}
@media only screen and (max-width: 920px) {
    .bigTable{
        display: none;
    }
    .mediumTable{
        display: list-item;
    }
}
.row{
    display: flex;
}
.column{
    flex: 50%;
    padding: 5px;
    margin-left: 15px;
}
#img1{
    margin-right: 15px;
    margin-bottom: 10px;
}
#img2, #img3{
    display: none;
    margin-right: 15px;
    margin-bottom: 10px;
}
